

<ac-map>
        <arc-layer></arc-layer>
</ac-map>
<div class="alert alert-success">
        <button (click)="doPopup()" type="button" class="btn btn-large btn-default">click for toast</button>

        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{title}}</strong> <i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
        <a href="https://www.npmjs.com/package/angular-cesium" target="_blank">angular cesium npm |</a>
        <a href="https://devarchy.com/angular" target="_blank">others |</a>
        <a href="https://tgftech.github.io/angular-cesium/" target="_blank">Docs |</a>
        <button (click)="doDrawRegions()">Draw Regions </button>

</div>