<!--temporarily keep the saved-searches on the first tab while coding -->
<div class="row">
  <div class="saved-searches">
    <div class="col-xs-6 col-sm-6 col-lg-8">
      <p>Saved Searches </p>
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
      <p>With Selected: <a href=""> Delete</a> </p>   
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
        <div class="dropdown text-right">Order By:&nbsp;
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Select
                      <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Name A-Z</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>


<!-- table -->
<table class="table table-sm" style="margin-bottom: 5px;">
  <thead class="thead-saved-searches">
    <tr>
      <th style="width:3%; border-right: 3px solid #666;" class="th-check"><input type="checkbox" aria-label="..."></th>
      <th style="width:30%; border-right: 3px solid #666;">Name</th>
      <th style="width:40%; border-right: 3px solid #666;">Description</th>
      <th style="width:27%">Take Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="th-check"><input type="checkbox" aria-label="..."></th>
      <td>My Saved Search</td>
      <td>Russian Language Anaylsts at Ramstein Air Base</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row" class="th-check"><input type="checkbox" aria-label="..."></th>
      <td>Second Scenario</td>
      <td>Brief overview of this scenario</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row" class="th-check"><input type="checkbox" aria-label="..."></th>
      <td>Signals Quick Find</td>
      <td>Find signals-related personnel quick with this query</td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- page footer same throughout site -->
<div class="row ">
  <div class="col-xs-12">
    <div class="pagination-footer">
      <div class="col-xs-3 number-per-page">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Select
										<span class="caret"></span></button> &nbsp;Results per Screen
        <ul class="dropdown-menu page-footer" style="width: auto;">
          <li><a href="#">15</a></li>
          <li><a href="#">30</a></li>
          <li><a href="#">60</a></li>
          <li><a href="#">90</a></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
      <div class="col-xs-9 prev-next-links">
        &#60; Prev&nbsp;&nbsp; <a href="">1</a> &nbsp;&nbsp;Next &#62;
      </div>
    </div>
  </div>
</div>


