<!--temporarily keep the saved-searches on the first tab while coding -->
<div class="row">
  <div class="saved-searches">
    <div class="col-xs-6 col-sm-6 col-lg-8">
      <p>Saved Searches </p>
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
      <p>With Selected: <a href=""> Delete</a> </p>   
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
        <div class="dropdown text-right">Order By:&nbsp;
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Select
                      <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Name A-Z</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="saved-search-row header">
    <div class="col-xs-1 check checkbox-inline">
      <input type="checkbox" aria-label="..."> 
    </div>
  <div class="col-xs-2 name">Name</div>  
  <div class="col-xs-6 description">Description</div>
  <div class="col-xs-3 action">Take Action</div>
</div>

<div class="saved-search-row">
    <div class="col-xs-1 check checkbox-inline">
      <input type="checkbox" aria-label="..."> 
    </div>
  <div class="col-xs-2 name">My Saved Search</div>  
  <div class="col-xs-6 description">Russian Language Anaylsts at Ramstein Air Base</div>
  <div class="col-xs-3 action">Action 1</div>
</div>
<div class="saved-search-row">
    <div class="col-xs-1 check checkbox-inline">
      <input type="checkbox" aria-label="..."> 
    </div>
  <div class="col-xs-2 name">Second Scenario</div>  
  <div class="col-xs-6 description">Brief overview of this scenario</div>
  <div class="col-xs-3 action">Action 2</div>
</div>
<div class="saved-search-row">
    <div class="col-xs-1 check checkbox-inline">
      <input type="checkbox" aria-label="..."> 
    </div>
  <div class="col-xs-2 name">Signals Quick Find</div>  
  <div class="col-xs-6 description">Find signals-related personnel quick with this query</div>
  <div class="col-xs-3 action">Action 3</div>
</div>
<!-- page footer same throughout site -->
<div class="row ">
  <div class="col-xs-12">
    <div class="pagination-footer">
      <div class="col-xs-3 number-per-page">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Select
										<span class="caret"></span></button> &nbsp;Results per Screen
        <ul class="dropdown-menu page-footer" style="width: auto;">
          <li><a href="#">15</a></li>
          <li><a href="#">30</a></li>
          <li><a href="#">60</a></li>
          <li><a href="#">90</a></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
      <div class="col-xs-9 prev-next-links">
        <a href="">&#60; Prev</a>&nbsp;&nbsp; <a href="">1</a> &nbsp;&nbsp;<a href="">2</a> &nbsp;&nbsp;<a href="">3</a>        &nbsp;&nbsp;<a href="">Next &#62;</a>
      </div>
    </div>
  </div>
</div>


