<!--temporarily keep the saved-searches on the first tab while coding -->
<div class="row">
  <div class="saved-searches">
    <div class="col-xs-6 col-sm-6 col-lg-8">
      <p>Saved Searches </p>
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
      <p>With Selected: <a href=""> Delete</a> </p>   
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-2">
        <div class="dropdown text-right">Order By:&nbsp;
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Select
                      <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Name A-Z</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="saved-search-row header">
    <div class="col-xs-1 check checkbox-inline">
      <input type="checkbox" aria-label="..."> 
    </div>
  <div class="col-xs-2 name">Name</div>  
  <div class="col-xs-6 description">Description</div>
  <div class="col-xs-3 action">Take Action</div>
</div>

<div class= "saved-search-row">

</div>


