<div class="row analytic-widget-row">
							<div class="col-xs-12 col-md-4">	
									<div class="analytic-widget">
										<div class="heading">
											<p>Total Personnel</p>
										</div>
										<div class="col-xs-4 circle-graphic">
											<img src="../../assets/img/circle1.png" alt="" >
										</div>
										<div class="col-xs-4 ">
											<div class="single-number">15</div>
										</div>
										<div class="col-xs-4 ">

										</div>
									</div>
								
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="analytic-widget">
									<div class="heading">
										<p>By Level</p>
									</div>
									<div class="col-xs-4 circle-graphic">
										<img src="../../assets/img/circle2.png" alt="" >
									</div>
									<div class="col-xs-4 color-keys">
										<p><span class="glyphicon glyphicon-stop level-helper" style="top:0" aria-hidden="true"></span>&nbsp;HELPER: 0</p>
										<p><span class="glyphicon glyphicon-stop level-apprentice" style="top:0" aria-hidden="true"></span>&nbsp;APPRN: 2</p>
										<p><span class="glyphicon glyphicon-stop level-journeyman" style="top:0" aria-hidden="true"></span>&nbsp;JRNYMN: 4</p>									
									</div>
									<div class="col-xs-4 color-keys">
										<p><span class="glyphicon glyphicon-stop level-craftsman" style="top:0" aria-hidden="true"></span>&nbsp;CRFTMN: 0</p>
										<p><span class="glyphicon glyphicon-stop level-super" style="top:0" aria-hidden="true"></span>&nbsp;SUPER: 2</p>									
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="analytic-widget">
									<div class="heading">
										<p>By Functional Group</p>
									</div>
									<div class="col-xs-4 circle-graphic">
										<img src="../../assets/img/circle3.png" alt="" >
									</div>
									<div class="col-xs-4 color-keys">
										<p><span class="glyphicon glyphicon-stop function-la" style="top:0" aria-hidden="true"></span>&nbsp;LA: 0</p>
										<p><span class="glyphicon glyphicon-stop function-cyber" style="top:0" aria-hidden="true"></span>&nbsp;CYBER: 2</p>									
									</div>
									<div class="col-xs-4 color-keys">
										<p><span class="glyphicon glyphicon-stop function-sigint" style="top:0" aria-hidden="true"></span>&nbsp;SIGINT: 0</p>
										<p><span class="glyphicon glyphicon-stop function-targ" style="top:0" aria-hidden="true"></span>&nbsp;TARG: 2</p>									
									</div>
								</div>
							</div>						
						</div>
