<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <!-- <li class=""><a href="#"><span class="glyphicon glyphicon-globe" style="top:3px" aria-hidden="true"></span>&nbsp;Mission</a></li> -->
      <li class="active"><a href="#"><span class="glyphicon glyphicon-search" style="top:3px" aria-hidden="true"></span>&nbsp;Force Search</a></li>
      <!-- <li class="active"><a href="#"><span class="glyphicon glyphicon-search" style="top:3px" aria-hidden="true"></span>&nbsp;Force Search</a></li>
      <li class="active"><a href="#"><span class="glyphicon glyphicon-search" style="top:3px" aria-hidden="true"></span>&nbsp;Force Search</a></li> -->
    </ul>

  </div>
</nav>


