<div class="col-xs-6 col-md-2">
    <div class="thumbnail mini-card">  
      <div class="thumbnail-topblue"> 
        <div class="thumb-topblue-number">{{fte.tag_number}}</div> 
        <div class="thumb-topblue-checkbox checkbox-inline">
          <span class="">
            <input type="checkbox" aria-label="...">
          </span>    
        </div>     
      </div>
      <div class="thumbnail-midwhite">
        <div class="level-function">
            <p class="function">{{fte.functional_group}}</p>
            <p class="level">{{fte.level}}</p> 
            <p class="specialty">{{fte.language}}</p>   
        </div>
        <div class="info-stats">
          <p class=""><span class="glyphicon glyphicon-info-sign" style="color:#555; font-size:20px; top:4px" aria-hidden="true"></span>
          <a href (click)="seestatlink()"> See Stats</a></p>
        </div>
          
      </div>
      <div class="thumbnail-bottomgray">
        <a href="" data-toggle="modal" data-target="#cardModal">Select</a>
       <!--  <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

        <!--<button type="button" class="btn btn-info btn-default" style="padding:6px 9px 5px 9px; background-color:#f1f1f1;" aria-label="Help" data-toggle="modal" data-target="#myModal">
													<span class="glyphicon glyphicon-question-sign" style="color:#555; font-size:16px; top:2px" aria-hidden="true"></span>
												</button>-->
										<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

<!-- replace this whole section -->
										<!-- Modal -->
										<div id="cardModal" class="modal fade" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content card-details-modal">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Position Title here</h4>
												</div>
												<div class="modal-body">
													<p>Some text in the modal.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
												</div>

											</div>
										</div>
<!-- replace this whole section -->
      </div>
    </div>
  </div>
