
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <img src="../../assets/img/u579-logo-40px.png" alt=""  style="margin:6px 10px 0 0">
          <p>25 AF Wingspan</p>
      </div>
      <div class="col-md-9">
        <a href="https://www.npmjs.com/package/angular-cesium" target="_blank">angular cesium npm |</a>
        <a href="https://devarchy.com/angular" target="_blank">others |</a>
        <a href="https://tgftech.github.io/angular-cesium/" target="_blank">Docs |</a>
      </div>
    </div><!-- end row-->
  </div><!--end container-->
</div><!-- end header-->

<button-panel></button-panel>

<div class="row">
  <div class="col-md-2">
    <app-sidepanel></app-sidepanel>
  </div>
  <div class="col-md-10">
    <app-globe></app-globe>
  </div>
</div><!--end row-->
     
    

