<div class="header">
  <div class="container">
 
    <img src="../../assets/img/u579-logo-40px.png" alt=""  style="margin:6px 10px 0 0">
    <p style="display:inline">25 AF Wingspan</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-success" style="margin: 50px 0">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{title}}</strong>  <i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
    <a  href="https://www.npmjs.com/package/angular-cesium" target="_blank">cesium npm</a>
  </div>
  
  <!--<button (click)="doPopup()" type="button" class="btn btn-large btn-block btn-default">click me for popup</button>-->

</div>
<div class="container">

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Button</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Button</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Button</button>
      </div>
    </div>
</div>
<br />
  
        <ac-map>
              <!--<ac-layer acFor="let plane of planes" [show]="showTracks" [context]="this">
                  <ac-billboard-desc props="{
                            image: plane.image,
                            position: plane.position
                          }">
                  </ac-billboard-desc>
                  <ac-label-desc props="{
                          position: plane.position,
                          text: plane.name
                  }">
                  </ac-label-desc>
              </ac-layer>-->
        </ac-map>
