<div class="btn-group-vertical btn-block bottom-margin-10" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-primary btn-lg" (click)="showCOCOM()">COCOM</button>
    <button type="button" class="btn btn-default btn-lg">Button</button>
    <button type="button" class="btn btn-default btn-lg">Button</button>
    <button type="button" class="btn btn-default btn-lg">Button</button>
    <button type="button" class="btn btn-default btn-lg">Button</button>
    <button type="button" class="btn btn-default btn-lg">Button</button>
  </div>
