<div class="btn-group-vertical text-center" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-primary btn-block">Button</button>
    <button type="button" class="btn btn-secondary btn-block">Button</button>
    <button type="button" class="btn btn-default btn-block">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
  </div>
