
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Search</a>
			</li>
			<li><a href="#2a" data-toggle="tab">Saved Searches</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
						<div class="row search-row">
							<div class="col-xs-12 col-md-10">
								<div class="input-group"> 
									<input class="form-control" aria-label="Text input with multiple buttons"> 
										<div class="input-group-btn"> 
											<button type="button" class="btn btn-default" style="padding:6px 9px 5px 9px;" aria-label="Help">
												<span class="glyphicon glyphicon-question-sign" style="color:#555; font-size:16px; top:2px" aria-hidden="true"></span>
											</button> 
											<button type="button" class="btn btn-default" style="padding:6px 9px 5px 9px; background-color:#a0e3fd;" aria-label="Search">
												<span class="glyphicon glyphicon-search" style="color:#555; font-size:16px; top:2px" aria-hidden="true"></span>
											</button> 
										</div> 
									</div>
							</div>
							<div class="col-xs-12 col-md-2 clear-save-links">
								<p>
									<a href=""> Clear</a>&nbsp;&nbsp;&nbsp;<a href="">Save</a>
								</p>
							</div>
						</div><!-- end search section -->
						<div class="row analytic-widget-row">
							<div class="col-xs-12 col-md-4">
								<div class="analytic-widget"></div>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="analytic-widget"></div>
							</div>
							<div class="col-xs-12 col-md-4">
								<div class="analytic-widget"></div>
							</div>						
						</div>
						<div class="mini-card-header">
							<p>Ramstein AB</p>
						</div>	
						<div class="row mini-card-group">			
								<app-mini-card [fte]="hero" *ngFor="let hero of list"></app-mini-card>	
						</div>
				</div><!-- end tab 1a -->
				<div class="tab-pane" id="2a">
          			<p>Content for Saved Search tab.</p>
				</div>
			</div><!--end tab set-->
  </div>

<!-- <div *ngFor="let hero of list">
  <app-mini-card></app-mini-card>
  <div>{{hero.name}}</div>
</div>-->