<div class="col-xs-6 col-md-2">
    <div class="thumbnail mini-card">  
      <div class="thumbnail-topblue"> 
        <div class="thumb-topblue-number">{{claPerson.tag_number}}</div> 
        <div class="thumb-topblue-checkbox checkbox-inline">
          <span class="">
            <input type="checkbox" aria-label="...">
          </span>    
        </div>     
      </div>
      <div class="thumbnail-midwhite">
        <div class="level-function">
            <p class="function">{{claPerson.functional_group}}</p>
            <p class="level">{{claPerson.level}}</p> 
            <p class="specialty">{{claPerson.language}}</p>   
        </div>
        <div class="info-stats">
          <p class=""><span class="glyphicon glyphicon-info-sign" style="color:#555; font-size:20px; top:4px" aria-hidden="true"></span>
          <a href (click)="seestatlink()"> See Stats</a></p>
        </div>
          
      </div>
      <div class="thumbnail-bottomgray">
        <a (click)="doOpenModal()" href="" data-toggle="modal" data-target="#cardModal">Select</a>
 <app-big-card-detail [claPerson]="claPerson"></app-big-card-detail>

      </div>
    </div>
  </div>
