/* You can add global styles to this file, and also import other style files */

@import url(/node_modules/cesium/Build/Cesium/Widgets/widgets.css);
  html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .cesium-viewer {
    min-height: 600px;
  }

/* hiding extra Cesium elements */
  div.cesium-viewer-animationContainer, div.cesium-viewer-bottom, div.cesium-viewer-timelineContainer {
    display: none;
  }
  
/* overall background color */
   body {
    background-color: #191919;
    overflow: scroll;
  }

/* header section */
  .header {
    height: 50px;
    background-color: #023761;
    /* padding: 0 20px; */
    margin-bottom: 20px;
  }
  .logo-header p {
    font-size: 20px;
    color: #fff;
    display:inline-block;
    padding-top: 10px;
  }
  .header-links {
    padding-top: 15px;
  }
  .header-links a {
    color: #fff;
  }
  .header-links a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .button-group-vertical {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
  }
  .no-side-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .bottom-margin-10 {
    margin-bottom: 15px;
  }

  /* nav bar section */
  .navbar {
    height: 38px;
    background-color: #004681;
    /* padding: 0 20px; */
    margin-bottom: 35px;
  }
  .navbar-nav li.active {
    font-size: 16px;
    background-color: #006699;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .navbar-nav li.active a:hover {
    background-color: #006699;
  }
  .navbar-nav li.active a {
    color: #FFFF00;
  }

  /* R1 Header */
  .navbar-nav>li>a {
    line-height: 19px;
  }
  .headerR1 {
    margin-bottom: 1px;
  }
  .headerR1 {
    height: 50px;
    background-color: #023761;
  }
  .margin {
    height: 300px;
  }

/* tabs for force search */
#exTab1 .tab-content {
  color : white;
  background-color: #666666;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #666666;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.nav-pills>li>a {
  background-color: #444;
  color: #ccc;
  /* border-bottom: 2px solid #000000; */
}
.nav-pills>li>a:hover {
  color: #666;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #666666;
  /* border-bottom: none; */
}
ul.nav.nav-pills li:first-child {
  margin-right: 4px;
}

/* analytics widgets */
.analytic-widget-row {
  margin-top: 15px;
}
.analytic-widget {
  height: 140px;
  background-color: #505050;
  margin-bottom: 15px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}
.analytic-widget .heading {
  height: 32px;
  border-bottom: 1px solid #5a5a5a;
  padding: 6px 10px;
  margin-bottom: 18px;
}
.analytic-widget .single-number {
  font-size: 48px;
}
.analytic-widget .color-keys {
  font-size: 11px;
  letter-spacing: 1px;
}
.color-keys p {
  margin-bottom: 3px;
}
span.glyphicon.glyphicon-stop.level-helper {
  color: #63EAF2;
}
span.glyphicon.glyphicon-stop.level-apprentice {
  color: #4790CD;
}
span.glyphicon.glyphicon-stop.level-journeyman {
  color: #2E3192;
}
span.glyphicon.glyphicon-stop.level-craftsman {
  color: #999;
}
span.glyphicon.glyphicon-stop.level-super {
  color: #fff;
}
span.glyphicon.glyphicon-stop.function-la {
  color: #4790CD;
}
span.glyphicon.glyphicon-stop.function-cyber {
  color: #2E3192;
}
span.glyphicon.glyphicon-stop.function-sigint {
  color: #999;
}
span.glyphicon.glyphicon-stop.function-targ {
  color: #fff;
}

/* search row */
.search-row {
  margin-top: 25px;
  margin-bottom: 20px;
}
.search-row p {
  margin-top: 8px;
 /*  font-size: 16px; */
  text-align: left;
  font-weight: normal;
  letter-spacing: 1px;
}
.search-row p a {
  color: #fff;
}
div.row.search-row input.form-control {
  height: 33px;
}
button.btn.btn-info.btn-default {
  border-color: #ccc;
}

/* help modal */
div.modal-header {
  background-color: #ccc;
}
div.modal-content.help-modal .modal-header {
  background-color: #ccc;
  color: #000;
}
div.modal-content.help-modal .modal-body {
  color: #000;
}
div.modal-body h5 {
  font-size: 16px;
  font-weight: bolder;
}

/* sort header */
.sort-header {
  color: #fff;
 text-align: right;
  border-bottom: 1px solid #4a4a4a;
  margin-top: 5px;
  padding-bottom: 10px; 
}
div.sort-header .dropdown-menu {
  right: 0;
  float: right;
}

/* mini cards */
.mini-card-header {
  color: #fff;
  border-bottom: 1px solid #4a4a4a;
  margin-top: 5px;
  /* padding: 5px 8px; */
}

.mini-card-group {
  margin-top: 15px;
}
.thumbnail {
    display: block;
    height: 150px;
    margin-bottom: 17px;
    margin-top: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
}
.thumbnail-topblue {
    background-color: #3c7aad;
    height: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 8px;
    letter-spacing: 1px;
}
.thumb-topblue-number {
  float: left;
}
.thumb-topblue-checkbox {
  float: right;
}
.thumbnail-midwhite {
    height: 90px;
    padding: 5px 8px;
}
.thumbnail-midwhite .level-function {
    height: 45px;
    padding: 6px 0 0 0;
}
div.level-function p.function {
    color: #000;
    font-weight: bolder;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
div.level-function p.level {
    float: left;
    color: #000;
    font-weight: bolder;
    font-size: 11px;
    margin-bottom: 0;
}
div.level-function p.specialty {
    float: right;
    color: #000;
    font-weight: 900;
    font-size: 11px;
    margin-bottom: 0;
}
.thumbnail-midwhite .info-stats {
    height: 45px;

}
div.info-stats p {
    padding-top: 6px;
    color: #000;
}
div.info-stats p a {
    color: #337aad;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 0;
  /* top: 4px; */
}
.thumbnail-bottomgray {
    background-color: #ddd;
    height: 30px;
    color: #525252;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    padding: 5px 8px;
}
.thumbnail-bottomgray a {
    color: #666;
}
.thumbnail-bottomgray a:hover {
    color: #000;
    text-decoration: none;
}
  .tooltip {
    font-size: 14px;
  }

/* large baseball cards */
div.modal-content.card-details-modal {
  text-align: left;
  /* width: 75%; */
  margin: 10px auto;
}
#cardModal {
  color: #000; 
  font-weight: normal;
}
#cardModal thead {
  background-color: #ccc; 
}
div.modal-content.card-details-modal .modal-header {
  background-color: #3c7aad;
}
div.modal-content.card-details-modal .modal-header h4 {
  color: #fff;
}
#cardModal .modal-footer {
  border: none; 
  padding-top: 0;
}
#cardModal .modal-body {
  padding-bottom: 0;
}
div.modal-content.card-details-modal button.close {
    color: #fff;
    opacity: 1.0;
    text-shadow: none;
  }

  /* pagination footer */
.pagination-footer {
  color: #fff;
  /* text-align: right; */
  border-top: 1px solid #4a4a4a;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom: 10px; 
  padding-top: 10px;
}
.prev-next-links {
  text-align: right; 
  padding-right: 0;
}
.prev-next-links a {
  color: #fff;
}
.number-per-page { 
  padding-left: 0;
}
ul.dropdown-menu.page-footer {
  right: 0;
  float: left;
  max-width: 60px;
  min-width: 0;
}

/* Saved Searches */
.saved-searches {
  margin: 20px 0;
  padding-bottom: 25px;
}
.sort-header {
  color: #fff;
 text-align: right;
  border-bottom: 1px solid #4a4a4a;
  margin-top: 5px;
  padding-bottom: 10px; 
}
div.sort-header .dropdown-menu {
  right: 0;
  float: right;
}
.saved-search-row {
  height: 28px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}
.saved-search-row.header {
  background-color: #505050;
  margin-bottom: 8px;
  padding-top: 5px;
}
.saved-search-row .header .checkbox {
  border-right: 1px solid #505050;
}
.saved-search-row.header .checkbox input[type=checkbox], .saved-search-row .header .checkbox-inline input[type=checkbox] {
  margin-left: 10px;
}
thead.thead-saved-searches  {
  background-color: #505050;
}
th.th-check, td.th-check {
  text-align: center;
   border-right: 2px solid #666;
}
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
  }
.saved-searches a {
  color: #a0e3fd;
}


@media (min-width: 1079px) {
  div.modal-dialog.large-card{
    width: 800px;
  }
}

/* xsm viewport size */
  @media (max-width: 767px) {
      .button-group-vertical .header {
      padding: 0 5px;
    }
  }
  @media (max-width: 1079px) {
    div.modal-content.card-details-modal {
      width: 100%;
    }
  }

/* n  @media (max-width: 1078px) {
  div.modal-dialog.large-card{
    width: 100%;
  }
} */


