<div class="container">
  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">Button</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">Button</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">Button</button>
        </div>
      </div><!--close button group-->
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div><!--close row-->
</div>
<br /><br />