<div class="alert alert-success">
        <button (click)="doPopup()" type="button" class="btn btn-large btn-default">click for toast</button>

        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{title}}</strong> <i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
        <a href="https://www.npmjs.com/package/angular-cesium" target="_blank">angular cesium npm |</a>
        <a href="https://devarchy.com/angular" target="_blank">others |</a>
        <a href="https://tgftech.github.io/angular-cesium/" target="_blank">Docs |</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">OK</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">TO</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-primary">PRESS</button>
        </div>
      </div><!--close button group-->
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div><!--close row-->
</div>


